<header class="main-header">
  <a href="/" class="main-header__icon">
    <img src="/images/webicon.jpg" alt="SquadLeaderWZ - Who Is The MVP?" />
  </a>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <% if (isAuthenticated) { %>
      <li class="main-header__item">
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
      </li>
      <% } %> <% if (!isAuthenticated) { %>
      <li class="main-header__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
