<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/head-navigation.ejs') %>
    <%- include('../includes/app-navigation') %>

    <ul >
        <li class="app-header__item">
            <h1 style='color : rgb(255, 0, 0)'>The site is under beta stage</h1>
        </li>
        <li class="app-header__item">
            <h2 style='color : rgb(0, 255, 149)'>Need some help? You can contact me by email</h2>
        </li>
        <li class="app-header__item">
            <h3 style='color : rgb(0, 255, 255)'>itsniv@gmail.com</h3>
        </li>
      </ul>
    


<%- include('../includes/end.ejs') %>